@import url('https://fonts.googleapis.com/css2?family=Padauk:wght@700&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Padauk', sans-serif;
}

.child-app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 4rem;
  background-image: url(../img/background.svg);
  background-position: center;
  background-size: cover;
}

@media (max-width: 1000px) {
  
.child-app {
 flex-direction: column;
 height: 150vh;
}

}

@media (max-width: 750px) {
  
  .child-app {
   height: 120vh;
  }
  
  }
