.create-todo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30vw;
  height: 50vh;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}

.img {
  width: 7rem;
  height: 5rem;
  background-image: url(../img/todo-icon-5.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.create-todo input {
  height: 2.5rem;
  border: 0;
  border-radius: 2rem;
  padding: 0.8rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  font-size: 1rem;
  font-weight: bold;
}

input:focus {
  outline: none;
}

.create-todo button {
  width: 7rem;
  height: 2.5rem;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  background-color: #2ea8df;
  border: 0;
  border-radius: 2rem;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

@media (max-width: 1000px) {
  .create-todo {
    width: 90vw;
  }
}


@media (max-width: 750px) {
    .create-todo {
      height: 40vh;
    }
  }
  